---
import About from '@components/sections/About.astro'
import Banner from '@components/sections/Banner.astro'
import Courses from '@components/sections/Courses.astro'
import Education from '@components/sections/Education.astro'
import Experiences from '@components/sections/Experiences.astro'
import Projects from '@components/sections/Projects.astro'
import Layout from '@layouts/Layout.astro'
import '@styles/globals.css'
---

<Layout>
	<!-- <Welcome /> -->

	<main class='min-h-[100vh] bg-background pb-20 text-foreground'>
		<div class='mx-auto grid max-w-5xl px-5'>
			<section
				id='banner'
				class='grid min-h-[100vh]'
			>
				<Banner />
			</section>

			<section
				id='about'
				class='grid py-8'
			>
				<About class='border border-red' />
			</section>

			<section
				id='projects'
				class='grid py-8'
			>
				<Projects />
			</section>

			<section
				id='experience'
				class='grid py-8'
			>
				<Experiences />
			</section>

			<section
				id='education'
				class='grid py-8'
			>
				<Education />
			</section>

			<section
				id='courses'
				class='grid py-8'
			>
				<Courses />
			</section>
		</div>
	</main>
</Layout>
