---
import LinkIcon from '../icons/LinkIcon.astro'

interface Props {
	id: string
	title: string
}

const { id, title } = Astro.props
---

<section
	id={id}
	class='grid py-8'
>
	<div class='flex flex-col gap-5'>
		<div class='animate-fade-in-blur'>
			<div class='flex items-center justify-between'>
				<a
					href={`#${id}`}
					class='group flex flex-row items-center'
				>
					<LinkIcon class='w-0 duration-200 group-hover:w-5 group-hover:mr-2' />
					<h2>{title}</h2>
				</a>

				<slot name='end-title-actions' />
			</div>
		</div>

		<slot name='content' />
	</div>
</section>
