.navbar {
	width: 100%;
	height: 10rem;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-1);
	z-index: 30;
}

.navbar_content{
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar_content .logo{
	position: relative;
	z-index: 30;
	width: 4rem;
	height: auto;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navlinks_mobile {
	width: 100%;
	padding-top: 10rem;
	background-color: var(--dark-1);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	-webkit-animation: slide-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.navlinks_mobile .links{
	margin: 0;
	background-color: var(--dark-2);
	border-radius: 0.5rem;
	text-align: center;
	width: 85%;
	padding: 1.5rem;	
	margin-bottom: 1rem;	
}

.open{
	-webkit-animation: slide-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.close{
	-webkit-animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.navlinks_mobile .links:last-of-type{
	margin-bottom: 0;
}

.navlinks {
	display: none;
}


@keyframes slide-left {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@keyframes slide-right {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	100% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}

/* Desktop */
@media (min-width: 1269px) {
	.hamburger_react {
		display: none;
	}

	.navlinks {
		display: flex;
	}

	.navlinks .links {
		margin-left: 3rem;
	}

	.navlinks .links:first-of-type {
		margin-left: 0;
	}

	.navlinks_mobile{
		display: none;
	}
}