@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--red-1: #fe3b3a;
	--red-2: #ff5656;
	--red-3: #ffbfbf;
	--orange-1: #ff8801;
	--orange-2: #feb555;
	--orange-3: #fde5bb;
	--yellow-1: #ffcc00;
	--yellow-2: #ffe055;
	--yellow-3: #fff6b9;
	--green-1: #05c270;
	--green-2: #56de9a;
	--green-3: #a4f0cc;
	--blue-1: #3568d4;
	--blue-2: #3d7cff;
	--blue-3: #b3cbff;
	--purple-1: #6500cd;
	--purple-2: #b56bdf;
	--purple-3: #efd2f3;
	--dark-1: #191a2c;
	--dark-2: #28293d;
	--light-1: #ffffff;
	--light-2: #f2f2f4;
	--gray: #9090a7;

	--primary-font: "Montserrat", sans-serif;
}

html {
	font-size: 62.5%; /* Now 10px = 1rem! */
	scroll-behavior: smooth;
}

body {
	font-family: var(--primary-font);
	background-color: var(--dark-1);
	color: var(--light-1);
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1,
h2,
h3,
h4,
a,
p {
	font-weight: 500;
	text-align: center;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.14em;
}

a {
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.2rem;	
	color: var(--gray);
	transition-duration: 0.3s;
}

a:hover{
	color: var(--light-1);
	transition-duration: 0.4s;
}

p {
	font-size: 1.8rem;
	font-weight: 400;
}

li {
	list-style: none;
}

.txt-blue {
	color: var(--blue-1);
}

.txt-green {
	color: var(--green-1);
}

.container {
	width: 85%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Gradient Scroll Bar */

::-webkit-scrollbar {
	width: 1.2rem;
}

::-webkit-scrollbar-track {
	background-color: var(--dark-2);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, var(--blue-1), var(--blue-2));
	border-radius: 0rem;
}

/* Buttons */

.button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;	
	background: var(--blue-1);
	box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	border: none;
}

.button:after {
	content: " ";
	width: 0%;
	height: 100%;
	background: var(--light-1);
	position: absolute;
	transition: all 0.4s ease-in-out;
	right: 0;
}

.button:hover::after {
	right: auto;
	left: 0;
	width: 100%;
}

.button span {	
	width: 100%;
	padding: 1.8rem 2.5rem;
	color: var(--light-1);	
	letter-spacing: 0.4rem;
	z-index: 20;
	transition: all 0.3s ease-in-out;
}

.button:hover span {
	color: var(--dark-1);
	animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	}
}

@media (min-width: 1269px) {
	h1 {
		font-size: 8rem;
	}

	h2 {
		font-size: 6rem;
	}

	h3 {
		font-size: 4.2rem;
	}

	h4 {
		font-size: 3rem;
	}

	a {
		font-size: 2rem;
	}

	p {
		font-size: 2rem;
	}
}
