@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--red-0: #fe3b3a20;
	--red-1: #fe3b3a;
	--red-2: #ff5656;
	--red-3: #ffbfbf;
	--orange-0: #ff880120;
	--orange-1: #ff8801;
	--orange-2: #feb555;
	--orange-3: #fde5bb;
	--yellow-0: #ffcc0020;
	--yellow-1: #ffcc00;
	--yellow-2: #ffe055;
	--yellow-3: #fff6b9;
	--green-0: #05c27020;
	--green-1: #05c270;
	--green-2: #56de9a;
	--green-3: #a4f0cc;
	--blue-0: #3568d420;
	--blue-1: #3568d4;
	--blue-2: #3d7cff;
	--blue-3: #b3cbff;
	--purple-0: #6500cd20;
	--purple-1: #6500cd;
	--purple-2: #b56bdf;
	--purple-3: #efd2f3;
	--dark-1: #131416;
	--dark-2: #1f1f24;
	--dark-3: #2e2e31;
	--dark-1: #1C1C28;
	--dark-2: #28293D;
	--dark-3: #8F90A6;
	--light-1: #ffffff;
	--light-2: #f2f2f4;
	--gray: #8F90A6;

	--gradient-1: linear-gradient(-68deg, var(--purple-1), var(--blue-2));
	--gradient-2: linear-gradient(-68deg, var(--red-1), var(--orange-2));

	--primary-font: "Montserrat", sans-serif;
}

html {
	font-size: 62.5%; /* Now 10px = 1rem! */
	scroll-behavior: smooth;
}

body {
	font-family: var(--primary-font);
	background-color: var(--dark-1);
	color: var(--light-1);
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1,
h2,
h3,
h4,
a,
p {
	font-weight: 500;
	text-align: center;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
	text-transform: capitalize;
	/* letter-spacing: 0.14em; */
}

a {
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: capitalize;
	text-decoration: none;
	letter-spacing: 0.2rem;	
	color: var(--gray);
	transition-duration: 0.3s;
}

/* hover effect */

a {
	position: relative;
	padding: 0.4rem;
}

a:hover {
	color: var(--light-1);
}

a::before {
	content: "";
	position: absolute;
	
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background-color: var(--light-1);
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

p {
	color: var(--gray);
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 2.6rem;
	text-align: justify;
}

li {
	list-style: none;
}

/* Utilities */

.mb-2{
	margin-bottom: 2rem;	
}

.icon-circle{
	width: 8rem;
	height: 8rem;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;	
	background-color: var(--blue-0);
	color: var(--blue-1);
}

.icon-circle svg{
	width: 5rem;
	height: auto;
}

.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 4rem 2.5rem 2.5rem;
	background-color: var(--dark-2);
	border: 0.1rem solid var(--dark-3);
	border-radius: 1rem;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	transition-duration: 0.3s;
}

.tag{
	padding: 0.2rem 0.9rem;
	border-radius: 4rem;
}

.tag-red{
	background-color: var(--red-0);
	color: var(--red-1);
}

.tag-orange{
	background-color: var(--orange-0);
	color: var(--orange-1);
}

.tag-yellow{
	background-color: var(--yellow-0);
	color: var(--yellow-1);
}

.tag-green{
	background-color: var(--green-0);
	color: var(--green-1);
}

.tag-blue{
	background-color: var(--blue-0);
	color: var(--blue-1);
}

.tag-purple{
	background-color: var(--purple-0);
	color: var(--purple-2);
}

.txt-red{
	color: var(--red-1);
}

.txt-orange{
	color: var(--orange-1);
}

.txt-yellow{
	color: var(--yellow-1);
}

.txt-green {
	color: var(--green-1);
}

.txt-blue {
	color: var(--blue-1);
}

.txt-purple{
	color: var(--purple-1);
}

.txt-light{
	color: var(--light-1);
}

.container {
	width: 85%;
	padding-top: 10rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Gradient Scroll Bar */

::-webkit-scrollbar {
	width: 0.7rem;
}

::-webkit-scrollbar-track {
	background-color: var(--dark-1);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, var(--blue-1), var(--blue-2));
	border-radius: 1rem;
}

/* Selection Color */

::selection {
    background: var(--blue-1);
    color: var(--light-1);
}

/* Buttons */

.button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;	
	background: var(--blue-1);
	box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	border: none;
}

.button:after {
	content: " ";
	width: 0%;
	height: 100%;
	background: var(--light-1);
	position: absolute;
	transition: all 0.4s ease-in-out;
	right: 0;
}

.button:hover::after {
	right: auto;
	left: 0;
	width: 100%;
}

.button span {	
	width: 100%;
	padding: 1.8rem 2.5rem;
	color: var(--light-1);	
	letter-spacing: 0.4rem;
	z-index: 20;
	transition: all 0.3s ease-in-out;
}

.button:hover span {
	color: var(--dark-1);
	animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	}
}

@media (min-width: 1269px) {
	h1 {
		font-size: 7rem;
	}

	h2 {
		font-size: 6rem;
	}

	h3 {
		font-size: 4.2rem;
	}

	h4 {
		font-size: 3rem;
	}

	a {
		font-size: 1.6rem;
	}

	p {
		font-size: 1.6rem;
	}
}
