<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />

		<meta
			name='generator'
			content={Astro.generator}
		/>
		<meta charset='UTF-8' />

		<!-- Favicon -->
		<link
			rel='icon'
			type='image/svg+xml'
			href='/images/logo.svg'
		/>
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0'
		/>

		<!-- Keywords -->
		<meta
			name='keywords'
			content='Jorge Vargas, portfolio, developer portfolio, frontend developer, React developer, TypeScript'
		/>

		<!-- Description -->
		<meta
			name='description'
			content='ðŸš€ Discover the portfolio of Jorge Vargas, a frontend developer specializing in React and TypeScript. ðŸ’» Explore his projects and reach out for future collaborations! ðŸ¤'
		/>

		<!-- Canonical URL -->
		<link
			rel='canonical'
			href='https://jorgeavargasc.github.io/'
		/>

		<!-- Open Graph -->
		<meta
			property='og:title'
			content='ðŸš€ Jorge Vargas | ðŸ’» Developer Portfolio'
		/>
		<meta
			property='og:description'
			content='Hi there! ðŸ‘‹ Explore my projects ðŸš€ and get in touch ðŸ“¬.'
		/>
		<meta
			property='og:image'
			content='https://jorgeavargasc.github.io/images/512.png'
		/>
		<meta
			property='og:url'
			content='https://jorgeavargasc.github.io/'
		/>
		<meta
			property='og:type'
			content='website'
		/>

		<!-- Twitter Card -->
		<meta
			name='twitter:card'
			content='https://jorgeavargasc.github.io/images/512.png'
		/>
		<meta
			name='twitter:title'
			content='Jorge Vargas | Developer Portfolio'
		/>
		<meta
			name='twitter:description'
			content='Hi there! ðŸ‘‹ Explore my projects ðŸš€ and get in touch ðŸ“¬.'
		/>
		<meta
			name='twitter:image'
			content='https://jorgeavargasc.github.io/images/512.png'
		/>

		<!-- Manifest -->
		<link
			rel='manifest'
			href='/manifest.json'
		/>

		<!-- Theme Color -->
		<meta
			name='theme-color'
			content='#0B0E13'
		/>

		<!-- Robots -->
		<meta
			name='robots'
			content='index, follow'
		/>

		<title>Jorge Vargas | Portfolio</title>
	</head>
	<body class='scrollbar-hidden'>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
