.navbar {
	width: 85%;
	height: 10rem;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	/* background-color: var(--dark-2); */
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.navlinks-mobile {
	width: 80%;
	background-color: var(--dark-2);
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	-webkit-animation: slide-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.navlinks {
	display: none;
}

@keyframes slide-left {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

/* Desktop */
@media (min-width: 1269px) {
	.hamburger-react {
		display: none;
	}

	.navlinks {
		display: flex;
	}

	.navlinks li {
		margin-left: 1rem;
	}

	.navlinks li:first-of-type {
		margin-left: 0;
	}
}
